/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: #faf8f6;
}
#root {
  background-color: #faf8f6;
}
/* dashboard */

.dashboard-titles {
  padding-bottom: 0.5rem;
}

/* table style */

.table-container {
  width: 100%;
  background-color: #f1eeeb;
  border-collapse: collapse;
  margin-bottom: 2rem;

}

th,
td {
  padding: 0.5rem 4rem;

  text-align: left;
}

th:first-child,
td:first-child {
  padding-left: 1rem;

}
td {
  font-size: 1.3rem;

}
th {
  color: rgb(94, 94, 94);
  padding-bottom: 8px;
 
}

table,
th,
td {
  border: none;
}


@media (min-width: 600px) and (max-width: 959px) {
  .table-container {
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
  }

  th,
  td {
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
  }

  th:first-child,
  td:first-child {
    padding-left: 0.3rem;
    text-align: left;
  }


  th {
    background-color: #f1eeeb;
    position: sticky;
    top: 0;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}