@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "font-family: system-ui";
}

body{
  background-color: #fffdfd;
 
  font-family: "Roboto";
}

/* dashboard */

.dashboard-titles {
  padding-bottom: 0.5rem;
}

/* table style */

.table-container {
  width: 100%;
  background-color: #f8f5f2;
  
  border-collapse: collapse;
  margin-bottom: 2rem;

}

th,
td {
  padding: 0.5rem 4rem;

  text-align: left;
}

th:first-child,
td:first-child {
  padding-left: 1rem;

}
td {
  font-size: 1.3rem;

}
th {
  color: rgb(94, 94, 94);
  padding-bottom: 8px;
 
}

table,
th,
td {
  border: none;
}

@media (max-width: 599px) {
  .left-side {
    text-align: center;
    margin-left: 0;
  }

  .centered {
    text-align: center;
    margin: 0 auto;
  }
}